h1{
    text-align: center;
    color: white
}

p{
    text-align: center;
    color: cyan;
}
img{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
